<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568252981298-mhticnpp041pakm7je80jjl3omefqk1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568252981298-mhticnpp041pakm7je80jjl3omefqk1u</string>
	<key>API_KEY</key>
	<string>AIzaSyD8BooKn1M-OsQnDLhAVmCPyATQFd4ykuc</string>
	<key>GCM_SENDER_ID</key>
	<string>568252981298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlosMata.Alarm</string>
	<key>PROJECT_ID</key>
	<string>alarm-5bb60</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-5bb60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:568252981298:ios:84926fb2cc9bb39cd21c2b</string>
</dict>
</plist>
